# Customer Segmentation using RFM analysis

This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

We will create cutomer segments as per the Recency,Frequency and Monetary analysis by analyzing the data to know our customer base. This knowlwdge can then be used to target customers to retain customers, pitch offers etc

### Dataset Information:

 - **InvoiceNo:** Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
 - **StockCode:** Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
 - **Description:** Product (item) name. Nominal.
 - **Quantity:** The quantities of each product (item) per transaction. Numeric.
 - **InvoiceDate:** Invice Date and time. Numeric, the day and time when each transaction was generated.
 - **UnitPrice:** Unit price. Numeric, Product price per unit in sterling.
 - **CustomerID:** Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
 - **Country:** Country name. Nominal, the name of the country where each customer resides.
 
**Source:** [Dataset](https://archive.ics.uci.edu/ml/datasets/online+retail)

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import time, warnings
import datetime as dt
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

%matplotlib inline
import seaborn as sns

warnings.filterwarnings("ignore")

### Read the data

In [2]:
data = pd.read_csv('../data/commercial_data.csv')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,545220,21955,DOORMAT UNION JACK GUNS AND ROSES,2,3/1/2011 8:30,7.95,14620.0,United Kingdom
1,545220,48194,DOORMAT HEARTS,2,3/1/2011 8:30,7.95,14620.0,United Kingdom
2,545220,22556,PLASTERS IN TIN CIRCUS PARADE,12,3/1/2011 8:30,1.65,14620.0,United Kingdom
3,545220,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,3/1/2011 8:30,4.95,14620.0,United Kingdom
4,545220,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,4,3/1/2011 8:30,3.75,14620.0,United Kingdom

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236079 entries, 0 to 236078
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    236079 non-null  object
 1   StockCode    236079 non-null  object
 2   Description  235729 non-null  object
 3   Quantity     236079 non-null  int64
 4   InvoiceDate  236079 non-null  object
 5   UnitPrice    236079 non-null  float64
 6   CustomerID   176137 non-null  float64
 7   Country      236079 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 9.9+ MB

In [4]:
# Check for string charachters contains in invoice no
data[data['InvoiceNo'].str.contains('\D').replace(pd.NA, False)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
173363,A563185,B,Adjust bad debt,1,8/12/2011 14:50,11062.06,NaN,United Kingdom
173364,A563186,B,Adjust bad debt,1,8/12/2011 14:51,-11062.06,NaN,United Kingdom
173365,A563187,B,Adjust bad debt,1,8/12/2011 14:52,-11062.06,NaN,United Kingdom

### Remove rows where customerID are NA

In [5]:
# Check the number of rows have null values for CustomerID
data['CustomerID'].isnull().sum()

59942

In [6]:
data.dropna(subset=['CustomerID'], axis=0, inplace=True)
data.shape

(176137, 8)

***Why missing CustomerID?***

 - Possibly guest checkout feature on the website
 - What could be possible features that you would collect if you want to segment "guest" customers?
    - browser, IP, location, cookie

## RFM Analysis
RFM (Recency, Frequency, Monetary) analysis is a customer segmentation technique that uses past purchase behavior to divide customers into groups. RFM helps divide customers into various categories or clusters to identify customers who are more likely to respond to promotions and also for future personalization services.

**RECENCY (R)**: Days since last purchase

**FREQUENCY (F):** Total number of purchases

**MONETARY VALUE (M):** Total money this customer spent.

We will create those 3 customer attributes for each customer.

## Recency
To calculate recency, we need to choose a date point from which we evaluate how many days ago was the customer's last purchase.

### Find out the latest date in the data to use it as for reference

In [7]:
# Last date available in our dataset
data['InvoiceDate'].max()

'9/9/2011 9:52'

In [8]:
# Some reference date where we evaluate recency
now = dt.date(2011, 12, 9)
print(now)

2011-12-09

### Create a new column called date which contains the date of invoice only

In [9]:
data['Date'] = pd.DatetimeIndex(data['InvoiceDate']).date
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Date
0,545220,21955,DOORMAT UNION JACK GUNS AND ROSES,2,3/1/2011 8:30,7.95,14620.0,United Kingdom,2011-03-01
1,545220,48194,DOORMAT HEARTS,2,3/1/2011 8:30,7.95,14620.0,United Kingdom,2011-03-01
2,545220,22556,PLASTERS IN TIN CIRCUS PARADE,12,3/1/2011 8:30,1.65,14620.0,United Kingdom,2011-03-01
3,545220,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,3/1/2011 8:30,4.95,14620.0,United Kingdom,2011-03-01
4,545220,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,4,3/1/2011 8:30,3.75,14620.0,United Kingdom,2011-03-01

### Check the last date of purchase with respect to CustomerID and calculate the RECENCY

In [10]:
recency_df = data.groupby(by='CustomerID', as_index=False)['Date'].max()
recency_df.columns = ['CustomerID', 'LastPurchaseDate']
recency_df.head()

   CustomerID LastPurchaseDate
0     12747.0       2011-08-22
1     12748.0       2011-09-30
2     12749.0       2011-08-01
3     12820.0       2011-09-26
4     12821.0       2011-05-09

In [11]:
# Calculate Recency
recency_df['Recency'] = recency_df['LastPurchaseDate'].apply(lambda x: (now-x).days)
recency_df.head()

   CustomerID LastPurchaseDate  Recency
0     12747.0       2011-08-22      109
1     12748.0       2011-09-30       70
2     12749.0       2011-08-01      130
3     12820.0       2011-09-26       74
4     12821.0       2011-05-09      214

## Frequency
Frequency helps us to know how many times a customer purchased from us. To do that we need to check how many invoices are registered by the same customer.

### Drop duplicate data from the data

In [12]:
retail_uk_copy = data.copy()
retail_uk_copy.drop_duplicates(subset=['InvoiceNo', 'CustomerID'], keep='first', inplace=True)
retail_uk_copy.shape

(8790, 9)

### Calculate the frequency of purchases

In [13]:
frequency_df = retail_uk_copy.groupby(by='CustomerID', as_index=False)['InvoiceNo'].count()
frequency_df.columns = ['CustomerID', 'Frequency']
frequency_df.head()

   CustomerID  Frequency
0     12747.0          5
1     12748.0         96
2     12749.0          3
3     12820.0          1
4     12821.0          1

## Monetary

**Monetary attribute answers the question: How much money did the customer spent over time?**

### To do that, first, we will create a new column total cost to have the total price per invoice.

In [14]:
data.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Date
0,545220,21955,DOORMAT UNION JACK GUNS AND ROSES,2,3/1/2011 8:30,7.95,14620.0,United Kingdom,2011-03-01
1,545220,48194,DOORMAT HEARTS,2,3/1/2011 8:30,7.95,14620.0,United Kingdom,2011-03-01

In [15]:
data['TotalCost'] = data['Quantity'] * data['UnitPrice']
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Date,TotalCost
0,545220,21955,DOORMAT UNION JACK GUNS AND ROSES,2,3/1/2011 8:30,7.95,14620.0,United Kingdom,2011-03-01,15.90
1,545220,48194,DOORMAT HEARTS,2,3/1/2011 8:30,7.95,14620.0,United Kingdom,2011-03-01,15.90
2,545220,22556,PLASTERS IN TIN CIRCUS PARADE,12,3/1/2011 8:30,1.65,14620.0,United Kingdom,2011-03-01,19.80
3,545220,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,3/1/2011 8:30,4.95,14620.0,United Kingdom,2011-03-01,14.85
4,545220,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,4,3/1/2011 8:30,3.75,14620.0,United Kingdom,2011-03-01,15.00

In [16]:
monetary_df = data.groupby(by='CustomerID', as_index=False).agg({'TotalCost': 'sum'})
monetary_df.columns = ['CustomerID', 'Monetary']
monetary_df.head()

   CustomerID  Monetary
0     12747.0   1760.09
1     12748.0  14680.85
2     12749.0   2755.23
3     12820.0    217.77
4     12821.0     92.72

### Create RFM Table

In [17]:
rfm_df = (
    recency_df
    .merge(frequency_df, on='CustomerID')
    .merge(monetary_df, on='CustomerID')
)

rfm_df.set_index('CustomerID', inplace=True)
rfm_df.head()

           LastPurchaseDate  Recency  Frequency  Monetary
CustomerID
12747.0          2011-08-22      109          5   1760.09
12748.0          2011-09-30       70         96  14680.85
12749.0          2011-08-01      130          3   2755.23
12820.0          2011-09-26       74          1    217.77
12821.0          2011-05-09      214          1     92.72

## Customer segments with RFM Model

**The simplest way to create customers segments from RFM Model is to use Quartiles. We assign a score from 1 to 4 to Recency, Frequency and Monetary. Four is the best/highest value, and one is the lowest/worst value. A final RFM score is calculated simply by combining individual RFM score numbers.**

Note: Quintiles (score from 1-5) offer better granularity, in case the business needs that but it will be more challenging to create segments since we will have 555 possible combinations. So, we will use quartiles.

### Find RFM quartiles

In [18]:
quantiles = rfm_df.quantile(q=[0, 0.25, 0.5, 0.75, 1])
quantiles

      Recency  Frequency     Monetary
0.00     70.0        1.0       2.9000
0.25     85.0        1.0     258.0775
0.50    119.0        2.0     518.3500
0.75    183.0        3.0    1182.9725
1.00    283.0       96.0  141789.3200

Since we have duplicate bin edges for __Frequency__ column, we can custom define the range for it

In [19]:
rfm_df['Frequency'].quantile(q=[0, 0.5, 0.7, 0.8, 1])

0.0     1.0
0.5     2.0
0.7     3.0
0.8     4.0
1.0    96.0
Name: Frequency, dtype: float64

## Creation of RFM Segments

We will create two segmentation classes since, high recency is bad, while high frequency and monetary value is good.

### Create functions as per the appropriate quaritle values and apply them to create segments

In [20]:
r_labels = range(4, 0, -1)
r_groups = pd.qcut(rfm_df['Recency'], q=4, labels=r_labels)
r_groups.head()

CustomerID
12747.0    3
12748.0    4
12749.0    2
12820.0    4
12821.0    1
Name: Recency, dtype: category
Categories (4, int64): [4 < 3 < 2 < 1]

In [21]:
m_labels = range(1, 5)
m_groups = pd.qcut(rfm_df['Monetary'], q=4, labels=m_labels)
m_groups.head()

CustomerID
12747.0    4
12748.0    4
12749.0    4
12820.0    1
12821.0    1
Name: Monetary, dtype: category
Categories (4, int64): [1 < 2 < 3 < 4]

In [22]:
# Use custom q for avaioding duplicate edge threshods
f_labels = range(1, 5)
f_groups = pd.qcut(rfm_df['Frequency'], q=[0, 0.5, 0.7, 0.8, 1], labels=f_labels)
f_groups.head()

CustomerID
12747.0    4
12748.0    4
12749.0    2
12820.0    1
12821.0    1
Name: Frequency, dtype: category
Categories (4, int64): [1 < 2 < 3 < 4]

### Now that we have the score of each customer, we can represent our customer segmentation, combine the scores (R_Quartile, F_Quartile,M_Quartile) together.

In [23]:
rfm_df = rfm_df.assign(R=r_groups, F=f_groups, M=m_groups)
rfm_df.head()

           LastPurchaseDate  Recency  Frequency  Monetary  R  F  M
CustomerID
12747.0          2011-08-22      109          5   1760.09  3  4  4
12748.0          2011-09-30       70         96  14680.85  4  4  4
12749.0          2011-08-01      130          3   2755.23  2  2  4
12820.0          2011-09-26       74          1    217.77  4  1  1
12821.0          2011-05-09      214          1     92.72  1  1  1

In [24]:
rfm_df['RFM_Segment'] = rfm_df.apply(lambda x: '{}{}{}'.format(x.R, x.F, x.M), axis=1)

rfm_df['RFM_Score'] = rfm_df.loc[:, ['R', 'F', 'M']].sum(axis=1)
rfm_df.head()

,LastPurchaseDate,Recency,Frequency,Monetary,R,F,M,RFM_Segment,RFM_Score
CustomerID,,,,,,,,,
12747.0,2011-08-22,109,5,1760.09,3,4,4,344,11
12748.0,2011-09-30,70,96,14680.85,4,4,4,444,12
12749.0,2011-08-01,130,3,2755.23,2,2,4,224,8
12820.0,2011-09-26,74,1,217.77,4,1,1,411,6
12821.0,2011-05-09,214,1,92.72,1,1,1,111,3

### 1. Find out the best customers

RFM_Segmentation score must be equal to __444__

In [25]:
rfm_df[rfm_df['RFM_Segment']=='444']['RFM_Segment'].value_counts()

444    211
Name: RFM_Segment, dtype: int64

### 2. Find out the loyal customers

We are treating our most frequent customer as our loyal customer, hence RFM_Segment would be __x4x__

In [26]:
rfm_df[rfm_df.F==4]['RFM_Segment'].value_counts()

444    211
344    155
244     32
343     30
443     26
243     12
143      5
242      1
442      1
144      1
Name: RFM_Segment, dtype: int64

### 3. Find out the big spenders

Since Monetary value distribution is skewed, we might consider our big spender to be filtered by RFM_Segment to __xx3+__

In [27]:
rfm_df[rfm_df.M >= 3]['RFM_Segment'].value_counts()

444    211
344    155
213    112
313    108
413    104
113     86
334     55
223     54
323     50
423     45
434     38
214     34
244     32
343     30
424     30
333     29
314     29
414     28
443     26
224     26
233     25
234     25
114     24
324     23
433     16
123     13
243     12
143      5
134      3
124      2
144      1
133      1
Name: RFM_Segment, dtype: int64

### 4. Find out the almost lost customers

 - RFM_Segment ==> <=2 <=2 <=2
 - Or if you have periodic data, like for every financial quarter FY Q1, FY Q2, FY Q3 check the customer trend

In [28]:
rfm_df.query('R<=2 and F<=2 and M<=2')['RFM_Segment'].value_counts()

211    192
212    163
412    126
312    112
311     91
411     78
222     22
322     21
422     14
421      4
321      3
221      3
Name: RFM_Segment, dtype: int64

### 5. Find out the lost customers

Customers with the lowest score RFM_Segment = 111

In [29]:
rfm_df[rfm_df['RFM_Segment']=='111']['RFM_Segment'].value_counts()

111    333
Name: RFM_Segment, dtype: int64

## Now that we know our customers segments, how will you target them?

 - best -> Make them feel valued send vouchers on bday, anniversary
 - loyal-> Upsell, Crosssell
 - almost/lost -> Discounts